<template>
  <div class="home">
    <div class="carousel">
    <carousel :per-page="1" :adjustable-height="true" :center-mode="true">
      <slide><img src="../assets/cookies1.jpg"/></slide>
      <slide><img src="../assets/cookies2.jpg"/></slide>
      <slide><img src="../assets/cookies3.jpg"/></slide>
      <slide><img src="../assets/cookies4.jpg"/></slide>
    </carousel>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
  name: "Home",
  props: {
    msg: String
  },
  components: {
    Carousel,
    Slide
  }
};
</script>

<style scoped>
.carousel {
  max-width: 450px;
  margin: 0 auto;
}

img {
  height: 250px;
}

</style>
